.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* set the container to take up the full height of the viewport */
}
  
.header, .footer {
    flex: 0 0 auto; /* Keeps the header and footer at their intrinsic size */
    width: 100%;
    position: fixed;
 }
  
 .content {
    flex: 1; /* will take up all remaining space */
    overflow-y: auto; /* will add scrollbar when content overflows */
}