#fifth_view{
    display: None;
}

#headline_fifth_container{
    display: flex;
    justify-content: center;
}

#description_fifth_container{
    display: flex;
    justify-content: center;
}

#description_fifth_container > div{
    display: flex;
    justify-content: center;
    border: solid lightgray;
    border-radius: 10px;
    padding-left: 0.1%;
    padding-right: 0.1%;
}

#description_fifth{
    text-align: center;
}

#final_result_container{
    display: flex;
    justify-content: center;
}

#banking_recommendation{
    font-size:2.2vw;
}

#product_info_container{
    display:flex;
    justify-content:center;
    border:solid lightblue;
    border-radius:10px;
}

#product_info{
    text-align:center;
}