#fifth_view{
    display: None;
}

#headline_fifth_container{
    display: flex;
    justify-content: center;
}

#description_fifth_container{
    display: flex;
    justify-content: center;
}

#description_fifth{
    text-align: center;
}

#final_result_container{
    display: flex;
    justify-content: center;
}

#banking_recommendation{
    font-size:2.2vw;
}