.start_button_container{
    display: flex;
    justify-content: center;
}

.start_button_container > button{
    width:40%;
}

#second_view{
    display: None;
}

.div_v {
    display: flex;
    justify-content: center;
    
   }
  .div_v > div{
    display: flex;
    justify-content: center;
    width:40%;
    margin-right:5%;
    margin-left:5%;
   
  
  }
   
  
  
   .div_b {
  
    display: flex;
    justify-content: center;
    height: 3vw;
    margin-top:1vw;
    
   }
   .div_b > button{margin-left:10%; margin-right:10%;
    width: 30%;}