#fourth_view{
    display: None;
}

#fourth_text_container{
    margin-top:5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#fourth_text_container > div {
    width: 100%;
    display:flex;
    justify-content: center;
}

#fourth_result_container{
    margin-top:5vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    
}

#emotion_result{
    margin-right: 1vw;
}

#age_result{
    margin-left: 1vw;
}

#fourth_button{
    display:flex;
    justify-content: center;
}

select {
  border: none;
  width: 20vw;
  height: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: auto;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}