.impressum{
    display: flex;
    flex-direction: column;
   
    height: 90vh;
    margin-left: 5%;
    margin-right:5%;
  }

.center-title{
    text-align: center;
    border-top: 0.1vw solid gray
}

.logo{
  display: flex;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.header, .footer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  top: 0; 
  height: 12vh;
}

.footer {
  bottom: 0; 
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content {
  flex: 1; 
  overflow-y: auto; 
  padding-bottom: 8vh; 
  justify-content:flex-start;
}

.title {
  margin-top: 13vh; 
  text-align: center;
}

.title > div{
    margin-left: 5%;
    margin-right:5%;
    width: 90%;
    border-top: 0.1vw solid gray
}


::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
  height: 0.5em;
}


::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: gray;
}


::-webkit-scrollbar-thumb:hover {
background-color: darkgray;
}

.partner{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banken-text{
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}
.banken-bild-center{
  display: flex;
  justify-content: center;
}

#db{
  display: flex;
    width:55%;
    height: auto;
}
#commerz{
  display: flex;
  width:100%;
  height: auto;
}