  .icon{
    display: flex;
      width:35%;
      height: auto;
  }

  .au-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
  }

  .au-text-align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
  }

  .about-us{
    margin-right: 3%;
    margin-left: 3%;
  }